@import 'variables.scss';
header {
    background-color: white;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-direction: row;
        padding: 2rem;
    
        img {
            width: 100%;
            height: 40px;
        }
    
        .burger-menu {
            div {   
                width: 25px;
                height: 3px;
                background-color: black;
                margin: 5px 0;
            }
        }
    }
}
