@import 'variables.scss';

* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
}

html, body {
  font-size: $main-font-size;
  background-color: #f6f6f6;
}

.flex { display: flex; }
.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-between { justify-content: space-between; }
.align-start { align-items: flex-start; }
.align-center { align-items: center; }
.align-end { align-items: flex-end; }
.direction-column { flex-direction: column; }
