main {
    .filter {
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
    .filter-nav {
        height: 0;
        transition: opacity .4s ease-in;
        opacity: 0;
        ul {
            width: 50%;
            margin: 2rem auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            li {
                a {
                    color: gray;
                    font-family: Work sans;
                    text-transform: uppercase;
                }
            }
        }
        &.active {
            transition: opacity .4s ease-in;
            opacity: 1;
            height: auto;
        }
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;

        .column {
          flex: 33%;
          max-width: 33%;

            img {
                height: 400px;
                object-fit: cover;
                width: 100%;
            }
        }
    }
}

.loader {
    text-align: center;
    padding: 3rem;
    p {
        text-transform: uppercase;
        font-family: Work sans;
    }
}


  