$regular-font: 'Roboto', sans-serif;
$title-font: 'Montserrat', sans-serif;
$cursive-font: 'Kaushan Script', cursive;

$text-color: #333333;
$orange-color: #f38181;
$yellow-color: #fce38a;
$light-green-color: #eaffd0;
$green-color: #95e1d3;
$white-text: #fff;

$main-font-size: 14px;
$title-font-size: 30px;
$banner-title-font-size: 150px;